<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletFiador</servlet-name>
        <servlet-class>controller.ServletFiador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPersonaNatural</servlet-name>
        <servlet-class>controller.ServletPersonaNatural</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleado</servlet-name>
        <servlet-class>controller.ServletEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>controller.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletJuridico</servlet-name>
        <servlet-class>controller.ServletJuridico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActivoFijo</servlet-name>
        <servlet-class>controller.ServletActivoFijo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTipoPrestamo</servlet-name>
        <servlet-class>controller.ServletTipoPrestamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDepartamento</servlet-name>
        <servlet-class>controller.ServletDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSucursal</servlet-name>
        <servlet-class>controller.ServletSucursal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTipoActivo</servlet-name>
        <servlet-class>controller.ServletTipoActivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCartera</servlet-name>
        <servlet-class>controller.ServletCartera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFD</servlet-name>
        <servlet-class>pdf.PDFD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFA</servlet-name>
        <servlet-class>pdf.PDFA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFAFF</servlet-name>
        <servlet-class>pdf.PDFAFF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFSAF</servlet-name>
        <servlet-class>pdf.PDFSAF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFSCNJ</servlet-name>
        <servlet-class>pdf.PDFSCNJ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sesion</servlet-name>
        <servlet-class>controller.Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrestamo</servlet-name>
        <servlet-class>controller.ServletPrestamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFCNI</servlet-name>
        <servlet-class>pdf.PDFCNI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFAF</servlet-name>
        <servlet-class>pdf.PDFAF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFAFB</servlet-name>
        <servlet-class>pdf.PDFAFB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFCJ</servlet-name>
        <servlet-class>pdf.PDFCJ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFCN</servlet-name>
        <servlet-class>pdf.PDFCN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFDP</servlet-name>
        <servlet-class>pdf.PDFDP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFEM</servlet-name>
        <servlet-class>pdf.PDFEM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFPF</servlet-name>
        <servlet-class>pdf.PDFPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFSC</servlet-name>
        <servlet-class>pdf.PDFSC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFiador</servlet-name>
        <url-pattern>/ServletFiador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletJuridico</servlet-name>
        <url-pattern>/ServletJuridico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActivoFijo</servlet-name>
        <url-pattern>/ServletActivoFijo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPersonaNatural</servlet-name>
        <url-pattern>/ServletPersonaNatural</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpleado</servlet-name>
        <url-pattern>/ServletEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTipoPrestamo</servlet-name>
        <url-pattern>/ServletTipoPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDepartamento</servlet-name>
        <url-pattern>/ServletDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTipoActivo</servlet-name>
        <url-pattern>/ServletTipoActivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSucursal</servlet-name>
        <url-pattern>/ServletSucursal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCartera</servlet-name>
        <url-pattern>/ServletCartera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFD</servlet-name>
        <url-pattern>/PDFD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFA</servlet-name>
        <url-pattern>/PDFA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFAFF</servlet-name>
        <url-pattern>/PDFAFF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFSAF</servlet-name>
        <url-pattern>/PDFSAF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFSCNJ</servlet-name>
        <url-pattern>/PDFSCNJ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sesion</servlet-name>
        <url-pattern>/Sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrestamo</servlet-name>
        <url-pattern>/ServletPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFCNI</servlet-name>
        <url-pattern>/PDFCNI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFAF</servlet-name>
        <url-pattern>/PDFAF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFAFB</servlet-name>
        <url-pattern>/PDFAFB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFCJ</servlet-name>
        <url-pattern>/PDFCJ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFCN</servlet-name>
        <url-pattern>/PDFCN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFDP</servlet-name>
        <url-pattern>/PDFDP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFEM</servlet-name>
        <url-pattern>/PDFEM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFPF</servlet-name>
        <url-pattern>/PDFPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFSC</servlet-name>
        <url-pattern>/PDFSC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
